root {
    /* fonts */
    --font-ubuntu: Ubuntu;
  
    /* font sizes */
    --font-size-base: 18px;
    --font-size-lg: 30px;
    --font-size-xl: 35px;
  
    /* Colors */
    --color-white: #fff;
    --color-dimgray: #707070;
    --color-gray: #817e7e;
    --color-silver: #c9c6c6;
  
    /* border radiuses */
    --br-md: 14px;
}
  