body {
    max-width: 1200px;
    margin: 0;
    line-height: normal;
  }
.hidden {
    display: none;
  }
  
.logo {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: silver;
  border: 1px solid grey;
  width: 272px;
  color: grey;
  }
  
  .box-hover,
  .box-hover1,
  .box-hover2 {
    position: absolute;
    box-sizing: border-box;
    height: calc(100% + 10px);
    border-radius: var(--br-md);
    background-color: grey;
    border: 1px solid white;
    display: none;
  }
  
  .products,
  .products-hover,
  .products1 {
    position: absolute;
    top: calc(50% - 10px);
  }
  
  .products1 {
    left: 0;
    color: grey;
  }
  
  .products {
    left: calc(50% - 232px);
    width: 77px;
    height: 20px;
    cursor: pointer;
  }
  
  .brand-story {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 74px);
    width: 102px;
    height: 20px;
    cursor: pointer;
  }
  
  .contact-us,
  .search-icon {
    position: absolute;
    cursor: pointer;
  }
  
  .contact-us {
    top: calc(50% - 10px);
    left: calc(50% + 108px);
    width: 93px;
    height: 20px;
  }
  
  .search-icon {
    height: calc(100% - 19.99px);
    top: 10px;
    bottom: 10px;
    left: calc(50% + 282px);
    max-height: 100%;
    width: 30px;
  }
  
  .top-nav-child {
    position: absolute;
    height: calc(100% - 8px);
    top: 1.5px;
    right: 173.49px;
    bottom: 6.5px;
    border-right: 2px solid grey;
    box-sizing: border-box;
    width: 4px;
  }
  
  .facebook-icon,
  .instagram-icon,
  .twitter-icon {
    position: absolute;
    top: 7px;
    cursor: pointer;
  }
  
  .facebook-icon {
    right: 58px;
    width: 31.99px;
    height: 31.99px;
  }
  
  .instagram-icon {
    right: 116.89px;
    width: 32.1px;
    height: 32.1px;
  }
  
  .twitter-icon {
    right: 0;
    width: 31.99px;
    height: 31.99px;
  }
  
  .top-nav {
    position: absolute;
    top: 27px;
    left: 32px;
    width: 1135.99px;
    height: 50px;
    color: white;
  }
  
  .main-image {
    position: absolute;
    top: 105px;
    left: 0;
    width: 1200px;
    height: 694.5px;
  }
  
  .product-image-1,
  .product-image-2,
  .product-image-3 {
    position: absolute;
    top: calc(50% - 160px);
    left: calc(50% - 147.5px);
    width: 295px;
    height: 321px;
    border-radius: grey;
  }