body {
	margin: 0;
	line-height: normal;
  font-family: 'Ubuntu', sans-serif;
}
.hidden {
  display: none;
}
.logo1 {
	position: absolute;
	top: calc(50% - 10px);
	left: calc(50% - 21px);
}
.box-hover,.logo {
	position: absolute;
	box-sizing: border-box;
}
.logo {
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: silver;
	border: 1px solid grey;
	width: 272px;
	color: grey;
}
.box-hover {
	height: calc(100% + 10px);
	width: calc(100% + 33px);
	top: -5px;
	right: -17px;
	bottom: -5px;
	left: -16px;
	border-radius: 5px;
	background-color: grey;
	border: 1px solid white;
	display: none;
}
.products-hover {
	left: 0;
	display: none;
}
.products,.products-hover,.products1 {
	position: absolute;
	top: calc(50% - 10px);
}
.products1 {
	left: 0;
	color: grey;
}
.products {
	left: calc(50% - 232px);
	width: 77px;
	height: 20px;
	cursor: pointer;
}
.box-hover1 {
	position: absolute;
	height: calc(100% + 10px);
	width: calc(100% + 28px);
	top: -5px;
	right: -14px;
	bottom: -5px;
	left: -14px;
	border-radius: 5px;
	background-color: grey;
	border: 1px solid white;
	box-sizing: border-box;
	display: none;
}
.brand-story {
	position: absolute;
	top: calc(50% - 10px);
	left: calc(50% - 74px);
	width: 102px;
	height: 20px;
	cursor: pointer;
}
.box-hover2 {
	position: absolute;
	height: calc(100% + 10px);
	width: calc(100% + 34px);
	top: -5px;
	right: -17px;
	bottom: -5px;
	left: -17px;
	border-radius: 5px;
	background-color: grey;
	border: 1px solid white;
	box-sizing: border-box;
	display: none;
}
.contact-us,.search-icon {
	position: absolute;
	cursor: pointer;
}
.contact-us {
	top: calc(50% - 10px);
	left: calc(50% + 108px);
	width: 93px;
	height: 20px;
}
.search-icon {
	height: calc(100% - 19.99px);
	top: 10px;
	bottom: 10px;
	left: calc(50% + 282px);
	max-height: 100%;
	width: 30px;
}
.top-nav-child {
	position: absolute;
	height: calc(100% - 8px);
	top: 1.5px;
	right: 173.49px;
	bottom: 6.5px;
	border-right: 2px solid grey;
	box-sizing: border-box;
	width: 4px;
}
.facebook-icon,.instagram-icon,.twitter-icon {
	position: absolute;
	top: 7px;
	right: 116.89px;
	width: 32.1px;
	height: 32.1px;
	cursor: pointer;
}
.facebook-icon,.twitter-icon {
	right: 58px;
	width: 31.99px;
	height: 31.99px;
}
.twitter-icon {
	right: 0;
}
.top-nav {
	position: absolute;
	top: 27px;
	left: 32px;
	width: 1135.99px;
	height: 50px;
	color: black;
}
.main-image1,.path-2917-icon {
	position: absolute;
	bottom: 0.5px;
	left: 0;
	width: 0;
	height: 0;
}
.main-image1 {
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	background-image: url(/img/main-image@3x.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}
.main-image {
	position: absolute;
	top: 105px;
	left: 0;
	width: 1200px;
	height: 694.5px;
}
.product-image-1 {
	position: absolute;
	height: calc(100% - 163px);
	width: 100%;
	top: 0;
	right: 0;
	bottom: 163px;
	left: 0;
	background-image: url(/img/product-image-1@3x.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}
.product {
	position: absolute;
	top: calc(50% + 190.5px);
	left: calc(50% - 67px);
}
.sub-heading {
	position: absolute;
	bottom: 68px;
	left: calc(50% - 87px);
	font-size: large;
	font-weight: 500;
}
.more {
	position: absolute;
	top: calc(50% - 9.5px);
	left: calc(50% - 22px);
}
.btn-more-hover {
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	background-color: grey;
	border: 1px solid grey;
	box-sizing: border-box;
	display: none;
}
.btn-more,.btn-more-hover,.btn-more1 {
	position: absolute;
	bottom: 0;
}
.btn-more1 {
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	background-color: white;
	border: 1px solid grey;
	box-sizing: border-box;
	color: grey;
}
.btn-more {
	left: calc(50% - 89px);
	width: 176px;
	height: 47px;
	cursor: pointer;
	font-size: var(--font-size-base);
	color: var(--color-white);
}
.product-1,.product-image-2 {
	position: absolute;
	top: 0;
	left: 0;
}
.product-1 {
	height: 100%;
	bottom: 0;
	width: 290px;
}
.product-image-2 {
	height: calc(100% - 116px);
	width: 100%;
	right: 0;
	bottom: 116px;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	opacity: 0.8;
}
.product1 {
	position: absolute;
	top: calc(50% + 190.5px);
	left: calc(50% - 66px);
}
.sub-heading1 {
	position: absolute;
	bottom: 68px;
	left: calc(50% - 86px);
	font-size: large;
	font-weight: 500;
}
.btn-more2,.product-2 {
	position: absolute;
	bottom: 0;
}
.btn-more2 {
	width: calc(100% - 114px);
	right: 57px;
	left: 57px;
	height: 47px;
	cursor: pointer;
	font-size: large;
	color: white;
}
.product-2 {
	height: 100%;
	top: 0;
	left: calc(50% - 145px);
	width: 290px;
}
.path-2916-icon {
	position: absolute;
	bottom: 0.5px;
	left: -0.5px;
	width: 0;
	height: 0;
}
.product-image-3 {
	position: absolute;
	height: calc(100% - 163px);
	width: 100%;
	top: 0;
	right: 0;
	bottom: 163px;
	left: 0;
	background-image: url(/img/product-image-3@3x.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}
.product2 {
	position: absolute;
	top: calc(50% + 190.5px);
	left: calc(50% - 65px);
}
.sub-heading2 {
	position: absolute;
	bottom: 68px;
	left: calc(50% - 85px);
	font-size: var(--font-size-lg);
	font-weight: 500;
}
.btn-more-hover2 {
	height: 100%;
	top: 0;
	left: 0;
	background-color: grey;
	border: 1px solid grey;
	box-sizing: border-box;
	width: 176px;
	display: none;
}
.btn-more-hover2,.btn-more4,.product-3 {
	position: absolute;
	bottom: 0;
}
.btn-more4 {
	left: calc(50% - 87px);
	width: 176px;
	height: 47px;
	cursor: pointer;
	font-size: var(--font-size-base);
	color: white;
}
.product-3 {
	height: 100%;
	top: 0;
	right: 0;
	width: 290px;
}
.products2 {
	position: absolute;
	top: 863px;
	left: 72px;
	width: 1056px;
	height: 663px;
	font-size: larger;
}
.btn-play-icon {
	position: absolute;
	top: calc(50% - 31px);
	left: calc(50% - 31px);
	width: 63px;
	height: 63px;
}
.btn-play-click-child {
	position: absolute;
	width: calc(100% - 52px);
	right: 27.5px;
	bottom: 42.5px;
	left: 24.5px;
	border-top: 1px solid white;
	box-sizing: border-box;
	height: 2px;
}
.b {
	position: absolute;
	bottom: 11px;
	left: 86px;
	font-size: large;
	width: 16px;
	height: 30px;
	transform: rotate(270deg);
}
.b,.b1,.div {
	display: inline-block;
}
.b1 {
	position: absolute;
	bottom: 20px;
	left: 38px;
	width: 7px;
	height: 20px;
}
.div {
	bottom: 12px;
	left: 44px;
	font-size: large;
	width: 23px;
	height: 38px;
}
.b2,.b3,.div,.div1 {
	position: absolute;
}
.div1 {
	bottom: 12px;
	left: calc(50% - 150px);
	font-size: larger;
	display: inline-block;
	width: 23px;
	height: 38px;
}
.b2,.b3 {
	bottom: 20px;
}
.b2 {
	left: calc(50% - 128px);
	display: inline-block;
	width: 7px;
	height: 20px;
}
.b3 {
	right: 33px;
}
.btn-play-click {
	background-color: silver;
	border: 1px solid grey;
	box-sizing: border-box;
	display: none;
}
.btn-play,.btn-play-click {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.brand-movie-clip {
	position: absolute;
	height: calc(100% - 100px);
	top: 50px;
	bottom: 50px;
	left: 32px;
	background-color: grey;
	border: 1px solid grey;
	box-sizing: border-box;
	width: 560px;
	color: var(--color-white);
}
.blank-line {
	margin: 0;
	font-size: var(--font-size-base);
}
.lorem-ipsum-dolor-sit-amet-co {
	margin: 0;
}
.brand-story-lorem-ipsum-container {
	position: absolute;
	top: 50px;
	right: 31px;
	display: inline-block;
	width: 517px;
	height: 335px;
	font-size: var(--font-size-xl);
}
.btn-more6 {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: white;
	border: 1px solid grey;
	box-sizing: border-box;
}
.btn-more-brand-story {
	position: absolute;
	bottom: 50px;
	left: calc(50% + 200px);
	width: 176px;
	height: 47px;
	cursor: pointer;
}
.brand-story2 {
	position: absolute;
	top: 1578px;
	left: 0;
	background-color: white;
	border: 1px solid grey;
	box-sizing: border-box;
	width: 1200px;
	height: 520px;
}
.contact-us3,.quatro-care-for {
	position: absolute;
	top: 0;
	left: calc(50% - 90px);
	font-size: large;
}
.quatro-care-for {
	top: 51px;
	left: calc(50% - 186px);
	font-size: x-large;
	font-weight: 500;
}
.lorem-ipsum-dolor {
	position: absolute;
	width: calc(100% + 1px);
	top: calc(50% - 74px);
	left: 0;
	display: inline-block;
}
.call-1-800-1234-1234-email-container {
	position: absolute;
	top: calc(50% + 50px);
	right: 104px;
	display: inline-block;
	white-space: pre-wrap;
	width: 360px;
	height: 49px;
}
.you-can-reach-container {
	position: absolute;
	top: calc(50% + 50px);
	left: calc(50% - 184px);
	display: inline-block;
	width: 172px;
	height: 27px;
}
.leave-your-story {
	position: absolute;
	top: calc(50% - 9.5px);
	left: calc(50% - 71.5px);
}
.btn-leave-your-story-hover {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: grey;
	border: 1px solid grey;
	box-sizing: border-box;
	display: none;
	color: var(--color-white);
}
.btn-leave-your-story {
	position: absolute;
	bottom: 0;
	left: calc(50% - 128px);
	width: 289px;
	height: 47px;
}
.contact-us2 {
	position: absolute;
	bottom: 385px;
	left: 128px;
	width: 944px;
	height: 392px;
}
.copyright-2023 {
	position: absolute;
	top: calc(50% - 21.5px);
	left: calc(50% - 108px);
}
.search-icon1 {
	position: absolute;
	height: calc(100% - 19.99px);
	top: 10px;
	bottom: 10px;
	left: calc(50% + 282px);
	max-height: 100%;
	width: 30px;
}
.bottom-nav {
	position: absolute;
	width: calc(100% - 64.01px);
	top: 29px;
	right: 32px;
	left: 32.01px;
	height: 50px;
	color: grey;
}
.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1200px;
	height: 323px;
	background-image: url(/img/footer@3x.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}
.quatro-desktop-index {
	position: relative;
	background-color: white;
	width: 100%;
	height: 2925px;
	text-align: left;
	font-size: 10px;
	color: grey;
	font-family: 'Ubuntu', sans-serif;
}
